/* src/styles.scss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$background-color: #FFFFFF;
$primary-color: #18A0FB;
$color: #1C85DB;


.igv-logo {
   display: none !important;
}

body {
   background: #F8F9FF;
   padding: 0px 5%;
}

// ========================== Navigation Menu ================================
.nav-bar {
   width: 100%;
   display: flex;
   padding: 20px 0px;
   gap: 50px;
   
   .logo-div {
      width: 20%;
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;

      h1 {
         text-transform: uppercase;
         font-size: 1.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .nav-link {
      display: flex;
      justify-content: center;
      font-weight: 600;
      gap: 50px;
      align-items: center;
      width: 50%;
      font-family: 700;
      text-transform: capitalize;
   }

   .btns {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      .reg-btn {
         background: #E5F4F2;
         color: #1C85DB;
         padding: 10px;
         width: 45%;
         display: flex;
         justify-content: center;
         border-radius: 20px;
      }

      .login-btn {
         background: #1C85DB;
         padding: 10px;
         width: 45%;
         display: flex;
         justify-content: center;
         color: #E5F4F2;
         border-radius: 20px;
      }
   }
}


// ========================== Hero Section ================================
.hero-section {
   display: flex;
   width: 100%;
   padding-top: 6%;
   height: 100vh;

   .left-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .hero-text {
         font-size: 3.5rem;
         line-height: 1.2em;
         font-weight: 700;

         span {
            color: #1C85DB;
            text-transform: capitalize;
         }
      }

      p {
         font-size: 0.8em;
         width: 80%;
      }

      .login-btn {
         background: #1C85DB;
         padding: 13px;
         width: 25%;
         color: #E5F4F2;
         border-radius: 20px;
         font-weight: 600;
      }
   }

   .right-container {
      width: 45%;
   }
}

// ========================== Explore Section ================================
.explore-section {
   background: linear-gradient(180deg, #845DFE 0%, #3190FC 100%);
   width: 1200px;
   height: 320px;
   border-radius: 20px;
   color: #FFFFFF;
   margin-top: 20px;
   padding: 40px;
   ;
   .left-section {
      float: left;
      width: 60%;
      margin-left: 20px;
      h1 {        
         font-family: Poppins;
         font-size: 48px;
         font-weight: 800;
         line-height: 72px;
         text-align: left;
      }

      p {         
         font-family: Poppins;
         font-size: 20px;
         font-weight: 400;
         line-height: 30px;
         text-align: left;
      }
      .explore-btn { 
         margin-top: 20px;        
         top: 262px;
         left: 69px;
         padding: 16px 50px 16px 50px;
         gap: 8px;         
         opacity: 0px;
         background: #FFFFFF;        
         color:  #1C85DB;
         border-radius: 20px;
         font-weight: bold;
         
      }
   }
   .right-section {
      float: right;
     
   }
}



// ========================== Footer ================================
footer {   
   padding: 20px;
   width: 100vw;
   position: relative; 
   left: calc(-1 * (5vw)); 
   right: calc(-1 * (5vw));        
   margin-top: 50px;     
   height: 200px;
   background-color: #1C85DB;
   color: #E5F4F2;
   overflow-x: hidden;
      
   .section{
      float: left;
      width: 33%;
      height: 100%;     
      
      .left-section {
         margin-right: 100px;
         margin-left: 50px;

         .logo-div {         
            display: flex;         
            align-items: center;
            font-weight: 700;
            gap: 10px;
           
            h1 {
               text-transform: uppercase;
               font-size: 1.5em;
      
               span {
                  color: #E5F4F2;
               }
            }
   
            .footer-text {                 
               font-size: x-small;
            }         
         }
      }      
  }
 }

 // ========================== SignUp Page ================================
 .signup-form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .logo-div {      
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;
      margin-bottom: 2em;

      h1 {
         text-transform: uppercase;
         font-size: 2.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .signup-form {
      background-color: #F8F9FF;
      padding: 20px;
      border: 1px solid none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;

      h2 {
         text-align: center;
         font-weight: 500;
       }
       
      input {
         width: 100%;
         padding: 10px;
         margin: 10px 0;
         border: 1px solid #ccc;
         border-radius: 4px;
       }
      
      .register-btn {
      background: #1C85DB;              
      color: #E5F4F2;
      width: 100%;
      padding: 10px;         
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      .register-btn:hover {
         background-color: #0056b3;
         }
      }
    }
 }
 
 
 // ========================== Login Page ================================
 .login-form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .logo-div {      
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;
      margin-bottom: 2em;
         
      h1 {
         text-transform: uppercase;
         font-size: 2.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .login-form {
      background-color: #F8F9FF;
      padding: 20px;
      border: 1px solid none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;

      h2 {
         text-align: center;
         font-weight: 500;
       }

      input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      }

      .login-btn {         
         background: #1C85DB;              
         color: #E5F4F2;
         width: 100%;
         padding: 10px;         
         border: none;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s ease;

         .login-btn:hover {
            background-color: #0056b3;
          }
      }
      span {
         float: right;
         text-decoration: underline;
         color: #0056b3;
      }
    }
 }
 
 
 