/* src/styles.scss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$background-color: #FFFFFF;
$primary-color: #18A0FB;
$color: #1C85DB;


.igv-logo {
   display: none !important;
}

.home {
   background: #F8F9FF;
   padding: 0px 5%;

   @media (max-width:500px) {
      padding: 0px 10%;
   }
}

// ========================== Navigation Menu ================================
.nav-bar {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 30px 0px;
   gap: 50px;

   @media (max-width:800px) {
      flex-wrap: wrap;
   }

   .logo-div {
      width: 20%;
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;

      h1 {
         text-transform: uppercase;
         font-size: 1.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .nav-link {
      display: flex;
      justify-content: center;
      font-weight: 600;
      gap: 50px;
      align-items: center;
      width: 50%;
      font-family: 700;
      text-transform: capitalize;

      @media (max-width: 500px) {
         display: none;
      }
   }

   .btns {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      @media (max-width:500px) {
         width: 50%;
      }

      .reg-btn {
         background: #E5F4F2;
         color: #1C85DB;
         padding: 10px;
         width: 45%;
         display: flex;
         justify-content: center;
         border-radius: 20px;

         button{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
         }
      }

      .login-btn {
         background: #1C85DB;
         padding: 10px;
         width: 45%;
         display: flex;
         justify-content: center;
         color: #E5F4F2;
         border-radius: 20px;
      }
   }
}


// ========================== Hero Section ================================
.hero-section {
   display: flex;
   width: 100%;
   padding-top: 6%;
   height: 100vh;

   @media (max-width:500px) {
      flex-direction: column;
      gap: 30px;
   }

   .left-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      @media (max-width:500px) {
         width: 100%;
      }

      .hero-text {
         font-size: 3.5rem;
         line-height: 1.2em;
         font-weight: 700;

         @media (max-width:500px) {
            font-size: 22px;
         }

         span {
            color: #1C85DB;
            text-transform: capitalize;
         }
      }

      p {
         font-size: 0.8em;
         width: 80%;
      }

      .login-btn {
         background: #1C85DB;
         padding: 13px;
         width: 25%;
         color: #E5F4F2;
         border-radius: 20px;
         font-weight: 600;
         display: flex;
         gap: 10px;
         justify-content: center;
         align-items: center;

         @media (max-width:500px) {
            width: 50%;
         }
      }
   }

   .right-container {
      width: 45%;

      @media (max-width:500px) {
         width: 100%;
      }
   }
}

// ========================== About Section ================================
.about-container {
   height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width:500px) {
      height: 100vh;
   }

   .about-container-inner {
      height: 60%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      box-shadow: 2px 2px 0px 3px rgba(157, 155, 155, 0.1);
      padding: 40px 5%;

      @media (max-width:500px) {
         height: 100%;
      }

      h1 {
         text-align: center;
         width: 100%;
         font-weight: 700;
         font-size: 1.6rem;
      }

      .about {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;

         h3 {
            font-weight: 500;
            color: #2a2525;
         }
      }

      .login-btn {
         background: #1C85DB;
         color: #E5F4F2;
         padding: 10px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s ease;
         padding: 10px 30px;

         &:hover {
            background: #ffffff;
            color: #0056b3;
            border: 1px solid #0056b3;
         }
      }
   }
}

// ========================== Features Section ================================
.card-container {
   background: #ffffff;
   box-shadow: 4px 4px 4px 4px rgba(157, 155, 155, 0.1);
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px 3%;
   border-radius: 10px;
   gap: 20px;

   @media (max-width:500px) {
      width: 90%;
   }

   h2 {
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      width: 80%;
   }

   p {
      font-size: 14px;
      text-align: center;
   }

   button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: #0056b3;
      padding: 10px 5%;
      border-radius: 20px;

      &:hover {
         background: #0056b3;
         color: #ffffff;
      }
   }
}

.features-container {
   display: flex;

   .features-inner {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      box-shadow: 2px 2px 0px 3px rgba(157, 155, 155, 0.1);
      padding: 40px 5%;

      h1 {
         text-align: center;
         width: 100%;
         font-weight: 700;
         font-size: 1.6rem;
      }

      .features-card {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         width: 100%;
         justify-content: space-between;
      }
   }
}

// ========================== Explore Section ================================
.explore-container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   @media (max-width:500px) {
      margin-top: 50px;
   }


   .explore-section {
      background: linear-gradient(180deg, #845DFE 0%, #3190FC 100%);
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      color: #FFFFFF;
      margin-top: 20px;
      padding: 10px 40px;

      @media (max-width:500px) {
         flex-direction: column;
         height: 100%;
      }

      .left-section {
         float: left;
         width: 70%;

         @media (max-width:500px) {
            width: 100%;
         }

         h1 {
            font-family: Poppins;
            font-size: 2rem;
            font-weight: 800;
            text-align: left;
         }

         p {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            text-align: left;
         }

         .explore-btn {
            margin-top: 20px;
            top: 262px;
            left: 69px;
            padding: 16px 50px 16px 50px;
            gap: 8px;
            opacity: 0px;
            background: #FFFFFF;
            color: #1C85DB;
            border-radius: 20px;
            font-weight: bold;

         }
      }

      .right-section {
         float: right;
         width: 30%;

         @media (max-width:500px) {
            display: none;
         }
      }
   }
}



// ========================== Footer ================================
footer {
   padding: 20px;
   position: relative;
   margin-top: 50px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   overflow-x: hidden;
   background-color: #1C85DB;
   color: #E5F4F2;

   .section {
      float: left;
      width: 33%;
      height: 100%;

      @media (max-width:500px) {
         width: 100%;
      }

      .left-section {
         margin-right: 100px;
         margin-left: 50px;

         .logo-div {
            display: flex;
            align-items: center;
            font-weight: 700;
            gap: 10px;

            h1 {
               text-transform: uppercase;
               font-size: 1.5em;

               span {
                  color: #E5F4F2;
               }
            }

            .footer-text {
               font-size: x-small;

            }
         }
      }
   }
}

// ========================== SignUp Page ================================
.signup-form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .logo-div {
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;
      margin-bottom: 2em;

      h1 {
         text-transform: uppercase;
         font-size: 2.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .signup-form {
      background-color: #F8F9FF;
      padding: 20px;
      border: 1px solid none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;

      h2 {
         text-align: center;
         font-weight: 500;
      }

      input {
         width: 100%;
         padding: 10px;
         margin: 10px 0;
         border: 1px solid #ccc;
         border-radius: 4px;
      }

      .register-btn {
         background: #1C85DB;
         color: #E5F4F2;
         width: 100%;
         padding: 10px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s ease;

         .register-btn:hover {
            background-color: #0056b3;
         }
      }
   }
}


// ========================== Login Page ================================
.login-form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .logo-div {
      display: flex;
      align-items: center;
      font-weight: 700;
      gap: 10px;
      margin-bottom: 2em;

      h1 {
         text-transform: uppercase;
         font-size: 2.5em;

         span {
            color: #1C85DB;
         }
      }
   }

   .login-form {
      background-color: #F8F9FF;
      padding: 20px;
      border: 1px solid none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;

      h2 {
         text-align: center;
         font-weight: 500;
      }

      input {
         width: 100%;
         padding: 10px;
         margin: 10px 0;
         border: 1px solid #ccc;
         border-radius: 4px;
      }

      .login-btn {
         background: #1C85DB;
         color: #E5F4F2;
         width: 100%;
         padding: 10px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s ease;

         .login-btn:hover {
            background-color: #0056b3;
         }
      }

      span {
         float: right;
         text-decoration: underline;
         color: #0056b3;
      }
   }
}